:root {
    --light-main-bg: #fedcba;
    --light-main-fg: #012345;
    --light-primary-bg: #fdb976;
    --light-primary-fg: #02468a;
    --light-secondary-bg: #fc9630;
    --light-secondary-fg: #0369cf;
    --light-tertiary-bg: #fb7300;
    --light-tertiary-fg: #048cff;
    --light-transparent: #01234567;
    --light-close-bg: #ff8888;
    --light-close-fg: #880000;
    --light-close2-bg: #ffaaaa;
    --light-close2-fg: #660000;
    --light-close3-bg: #ffcccc;
    --light-close3-fg: #440000;
    --light-contrast-bg: #000;
    --light-contrast-fg: #fff;
    --light-ta-bg: #fed;
    --light-ta-fg: #012;
    --light-header-bg: var(--light-primary-fg);

    --dark-main-bg: #234;
    --dark-main-fg: #f8eeff;
    --dark-primary-bg: #345;
    --dark-primary-fg: #edf;
    --dark-secondary-bg: #3d4e5f;
    --dark-secondary-fg: #e0d0ff;
    --dark-tertiary-bg: #4a5c6f;
    --dark-tertiary-fg: #d9c8ff;
    --dark-transparent: #123a;
    --dark-close-bg: #733247;
    --dark-close-fg: #ddaace;
    --dark-close2-bg: #622531;
    --dark-close2-fg: #e5afd4;
    --dark-close3-bg: #502020;
    --dark-close3-fg: #f0bce0;
    --dark-contrast-bg: #fff;
    --dark-contrast-fg: #000;
    --dark-ta-bg: #123;
    --dark-ta-fg: #fbf4ff;
    --dark-header-bg: #705f8f;

    --main-bg: var(--light-main-bg);
    --main-fg: var(--light-main-fg);
    --primary-bg: var(--light-primary-bg);
    --primary-fg: var(--light-primary-fg);
    --secondary-bg: var(--light-secondary-bg);
    --secondary-fg: var(--light-secondary-fg);
    --tertiary-bg: var(--light-tertiary-bg);
    --tertiary-fg: var(--light-tertiary-fg);
    --transparent: var(--light-transparent);
    --close-bg: var(--light-close-bg);
    --close-fg: var(--light-close-fg);
    --close2-bg: var(--light-close2-bg);
    --close2-fg: var(--light-close2-fg);
    --close3-bg: var(--light-close3-bg);
    --close3-fg: var(--light-close3-fg);
    --contrast-bg: var(--light-contrast-bg);
    --contrast-fg: var(--light-contrast-fg);
    --ta-bg: var(--light-ta-bg);
    --ta-fg: var(--light-ta-fg);
    --header-bg: var(--light-header-bg);
}

body.light-mode {
    --main-bg: var(--light-main-bg);
    --main-fg: var(--light-main-fg);
    --primary-bg: var(--light-primary-bg);
    --primary-fg: var(--light-primary-fg);
    --secondary-bg: var(--light-secondary-bg);
    --secondary-fg: var(--light-secondary-fg);
    --tertiary-bg: var(--light-tertiary-bg);
    --tertiary-fg: var(--light-tertiary-fg);
    --transparent: var(--light-transparent);
    --close-bg: var(--light-close-bg);
    --close-fg: var(--light-close-fg);
    --close2-bg: var(--light-close2-bg);
    --close2-fg: var(--light-close2-fg);
    --close3-bg: var(--light-close3-bg);
    --close3-fg: var(--light-close3-fg);
    --contrast-bg: var(--light-contrast-bg);
    --contrast-fg: var(--light-contrast-fg);
    --ta-bg: var(--light-ta-bg);
    --ta-fg: var(--light-ta-fg);
    --header-bg: var(--light-header-bg);
}

body.dark-mode {
    --main-bg: var(--dark-main-bg);
    --main-fg: var(--dark-main-fg);
    --primary-bg: var(--dark-primary-bg);
    --primary-fg: var(--dark-primary-fg);
    --secondary-bg: var(--dark-secondary-bg);
    --secondary-fg: var(--dark-secondary-fg);
    --tertiary-bg: var(--dark-tertiary-bg);
    --tertiary-fg: var(--dark-tertiary-fg);
    --transparent: var(--dark-transparent);
    --close-bg: var(--dark-close-bg);
    --close-fg: var(--dark-close-fg);
    --close2-bg: var(--dark-close2-bg);
    --close2-fg: var(--dark-close2-fg);
    --close3-bg: var(--dark-close3-bg);
    --close3-fg: var(--dark-close3-fg);
    --contrast-bg: var(--dark-contrast-bg);
    --contrast-fg: var(--dark-contrast-fg);
    --ta-bg: var(--dark-ta-bg);
    --ta-fg: var(--dark-ta-fg);
    --header-bg: var(--dark-header-bg);
}

body {
    background-color: var(--main-bg);
    color: var(--main-fg);
}

div.header, div.footer {
    background-color: var(--header-bg);
    width: 100%;
    height: 3em;
    // align-content: center;
    text-align: center;
    position: absolute;
    left: 0em;
    padding: 0em;
    margin: 0em;
    overflow-x: auto;
    white-space:nowrap;
}

div.header > div, div.footer > div {
    display: flex;
}

div.header > div::before, div.footer > div::before, div.header > div::after, div.footer > div::after {
    content: "";
    flex: auto;
}

div.header {
    top: 0em;
}

div.footer {
    bottom: 0em;
}

button {
    border: none;
    height: 2em;
    border-radius: 1em;
    background-color: var(--primary-bg);
    color: var(--primary-fg);
    font-size: 1em;
    font-weight: bold;
    padding: 0em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    margin: 0.5em;
    transition: all 0.4s;
}

button:hover {
    background-color: var(--secondary-bg);
    color: var(--secondary-fg);
}

button:active {
    background-color: var(--tertiary-bg);
    color: var(--tertiary-fg);
}

div.header button {
    width: 5em;
}

div.header button, div.footer button {
    flex: 0 0 auto;
}

dialog {
    border: none;
    border-radius: 1em;
    width: calc(100% - 6em);
    height: calc(100% - 10em);
    bottom: 1em;
    background-color: var(--main-bg);
    color: var(--main-fg);
}

button.close {
    width: 2em;
    position: absolute;
    top: 0.5em;
    right: 0.5em;
}

button.danger {
    font-size: 0.8em;
}

button.close, button.danger {
    background-color: var(--close-bg);
    color: var(--close-fg);
}

button.close:hover, button.danger:hover {
    background-color: var(--close2-bg);
    color: var(--close2-fg);
}

button.close:active, button.danger:active {
    background-color: var(--close3-bg);
    color: var(--close3-fg);
}

dialog::backdrop {
    background-color: var(--transparent);
}

.mono {
    font-family: mono;
}

.scroll-overflow {
    overflow: scroll;
}

.hidden-overflow {
    overflow: hidden;
}

::selection {
    background-color: var(--contrast-bg);
    color: var(--contrast-fg);
}

.vert-button-list {
    padding: 0px;
}

.vert-button-list ::marker {
    content: none;
}

.vert-button-list li button {
    width: calc(100% - 32px);
}

textarea, input {
    background-color: var(--ta-bg);
    color: var(--ta-fg);
    border-width: 0.125em;
    border-style: solid;
    border-color: var(--ta-fg);
}
